body{
	background:#e5e5e5;
	color:#6e6e6e;

	font-family: 'Montserrat:400,700', sans;
	font-size: 11px;
}

.container{



}

h1{

	font-family: 'Montserrat:400,700', sans;
	color:#282828;

}


h4{

	font-size: 15px;
	color:#4a4a4a;

}


.header{
	margin:auto;
	background: #f7f7f7;
	height:80px;

}

.headerLeft{

	margin-top: 10px;
	max-width: 870px;
}

.header img{
	float:right;
	max-width: 70px;
	margin-top:28px;
	margin-left: 20px;

}

.header a{
		
	
	-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;

}

.header a:hover{
		
	opacity: .5;
	-webkit-transition: all 500ms ease;
-moz-transition: all 500ms ease;
-ms-transition: all 500ms ease;
-o-transition: all 500ms ease;
transition: all 500ms ease;

}

.headerRight{

	max-width: 1100px;

}


.title {

	margin-bottom:40px;

}

.nav {
	color:#b5b5b5;
	margin-bottom:39px;

}

.nav li{
	list-style: none;
	font-size: 20px;
	float:left;
	margin: 42px 30px 0px 0;

}

.nav a{

	color:#b5b5b5;

}

.nav a:hover{

	color:purple;

}

.active{

	color:purple;

}

.main{
	padding-top: 25px;
	max-width: 1100px;
	margin:auto;
	
}

.mainRight{

	margin-top: -95px;

}

.mainLeft{

	margin-top: -85px;

}

.sectionHead{
	padding: 0px 5px 0px;
	background:#f2f2f2;

}

.lineHeighter{

	line-height: 20px;

}


.section{
	padding: 1px 5px 1px;
	margin-bottom:15px;
	line-height: 20px
}


.section a{
	color:#6e6e6e;
	display: block;
	margin: 5px 0 5px;
}


.projects{
	padding: 10px 12px 10px;
	background:white;
	margin-bottom: 25px;

	-moz-box-shadow:    1px 1px 2px 1px #b7b7b7;
  	-webkit-box-shadow: 1px 1px 2px 1px #b7b7b7;
  	box-shadow:         1px 1px 2px 1px #b7b7b7;

}



.projectCopy{
	float:left;
	min-width: 241px;
	max-width:50%;

}

.viewProject{

	margin-top: 7px;

}

.viewProject a{

	color:lightgray;

}


.projectImg{

	

}


.projectImg img{
	margin-left:20px;
	max-height:140px;


}


.contactImg{
	
	


}


.contact{
	height:200px;
	padding: 10px 12px 10px;
	background:white;
	margin-bottom: 25px;

	-moz-box-shadow:    1px 1px 2px 1px #b7b7b7;
  	-webkit-box-shadow: 1px 1px 2px 1px #b7b7b7;
  	box-shadow:         1px 1px 2px 1px #b7b7b7;

}

.teachPhil{
	height:100%;
	padding: 10px 12px 10px;
	background:white;
	margin-bottom: 25px;

	-moz-box-shadow:    1px 1px 2px 1px #b7b7b7;
  	-webkit-box-shadow: 1px 1px 2px 1px #b7b7b7;
  	box-shadow:         1px 1px 2px 1px #b7b7b7;

}


.teachPhil a{

	color:lightgray;

}

.contactCopy{
	float:left;
	margin-bottom: 10px;
	min-width: 241px;
	max-width:50%;

}


.contactImg img{
	margin-left:50px;
	max-width:120px;


}

.contactLeft{
	float: left;
	width:100px;

}


.contactRight{
	float: left;
	width:140px;
	
}




@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
    h1
  


}
}


@media screen and (max-width: 760px) {
  @-ms-viewport {
    width: 320px;
    h1
  }
}
  







@media (max-width: 767px) {





}